/*@media all and (max-width: 567px) {}*/
/*@media all and (max-width: 991px) {}*/
/*@media all and (min-width: 992px) {}*/
/*@media all and (min-width:768px) and (max-width:991px) {}*/
/*@media all and (min-width:540px) and (max-width: 1199px) {}*/

/*region Font-Families*/
/*font-family: 'Niconne', cursive;*/
/*font-family: 'Italianno', cursive;*/
/*font-family: 'Clicker Script', cursive;*/
/*font-family: 'Bilbo Swash Caps', cursive;*/
/*font-family: 'Euphoria Script', cursive;*/
/*font-family: 'Meddon', cursive;*/

/*font-family: 'Thasadith', sans-serif;*/
/*font-family: 'Maven Pro', sans-serif;*/
/*font-family: 'Rajdhani', sans-serif;*/
/*font-family: 'Quattrocento Sans', sans-serif;*/
/*font-family: 'Economica', sans-serif;*/
/*font-family: 'Jura', sans-serif;*/
/*font-family: 'Sawarabi Mincho', sans-serif;*/
/*font-family: 'Marmelad', sans-serif;*/
/*font-family: 'Saira', sans-serif;*/
/*font-family: 'Metrophobic', sans-serif;*/
/*font-family: 'M PLUS Rounded 1c', sans-serif;*/
/*font-family: 'Niramit', sans-serif;*/
/*font-family: 'Federo', sans-serif;*/
/*font-family: 'Anaheim', sans-serif;*/
/*font-family: 'NTR', sans-serif;*/
/*font-family: 'Stylish', sans-serif;*/
/*font-family: 'Berkshire Swash', cursive;*/
/*font-family: 'Fondamento', cursive;*/
/*font-family: 'Spirax', cursive;*/
/*font-family: 'Mystery Quest', cursive;*/
/*font-family: 'Griffy', cursive;*/
/*font-family: 'Supermercado One', cursive;*/
/*font-family: 'Almendra Display', cursive;*/
/*font-family: 'Ruge Boogie', cursive;*/
/*font-family: 'Niconne', cursive; */
/*endregion*/

body {
    background-color: black;
    font-family: 'Federo', sans-serif;
}

* html {
    height: 100%;
}

#flex-wrapper {
    display: flex;
}


h2 {
    margin: auto;
    display: block;
    background-color: rgba(52,140,156,0.80);
    color: rgb(253,246,227);
    border: 1pt solid rgb(253,246,227);
    border-collapse: collapse;
    align-content: center;
    text-align: center;
    width: 100%;
    text-wrap: normal;
    white-space: pre-wrap;
    height: 100%;
    opacity: 0.8;
}

#banner-image {
    opacity: 0.3;
}

#content-row {
    margin-top: 5vh;
}

#image-div {
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: 0;
    padding-top: 0;

    background-image: linear-gradient(
            rgba(60, 160, 178, .02)  20%,
            rgba(60, 160, 178, .05)  40%,
            rgba(60, 160, 178, 0.1)  60%,
            rgba(60, 160, 178, 0.2)  80%,
            rgba(60, 160, 178, 0.3)  85%,
            rgba(60, 160, 178, 0.4)  90%,
            rgba(60, 160, 178, 0.5)  95%,
            rgba(60, 160, 178, 0.7) 100%

        /*region Alt Gradients*/
        /*background-image: linear-gradient(*/
            /*rgba(221,188,10, .02)  37%,*/
            /*rgba(221,188,10, .05)  46%,*/
            /*rgba(221,188,10, 0.1)  55%,*/
            /*rgba(221,188,10, 0.2)  64%,*/
            /*rgba(221,188,10, 0.3)  73%,*/
            /*rgba(221,188,10, 0.4)  82%,*/
            /*rgba(221,188,10, 0.5)  91%,*/
            /*rgba(221,188,10, 0.6)  100%*/
    /*background-image: linear-gradient(*/
            /*rgba(92,87,80, 0.0)   0%,*/
            /*rgba(92,87,80, 0.1)  60%,*/
            /*rgba(92,87,80, 0.2)  70%,*/
            /*rgba(92,87,80, 0.3)  80%,*/
            /*rgba(92,87,80, 0.5)  90%,*/
            /*rgba(221,188,10, 0.7)  100%*/
        /*endregion*/
    );
      box-shadow: 0 0 8px 8px black inset;
    /*https://codepen.io/komejo/pen/RgwrZb*/
}







.col.report-details,
.report-details-h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.report-details-h2 {
    padding: 1em;
}

#layout-content-div {
    height: 100%;
    background-size: contain;
    background: url("../img/vol_lib_port.jpg") no-repeat;
    box-shadow: 0 0 8px 8px black inset;
    width: 100%;
    min-height: 80vh;
    margin: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*====================================================================================================================
      TABLES
=====================================================================================================================*/

.col-th {
    border: solid 1pt black;
    border-collapse: collapse;
    opacity: 0.7;
}

td,
tr,
thead,
table {
    color: rgb(253,246,227);
    font-size: 14pt;
    text-align: center;
    align-content: center;
    border: 1pt solid rgb(253,246,227);
    border-collapse: collapse;
    width: 100%;
    height: auto;
}




/*====================================================================================================================
      SHARED
=====================================================================================================================*/

.page-header {
    background-color: rgba(28, 26, 24, 0.7);
    box-shadow: 0 0 8px 8px rgba(38, 36, 34, .05) inset;
    border-radius: 5pt;
    color: lightgrey;
    justify-content: center;
    text-align: center;
    margin-top: 5pt;
    margin-bottom: 5pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}


/*=====================================================================================================================
      INFO
======================================================================================================================*/

.alert.alert-warning {
    color:  rgb(253,246,227);
}

.error {
    background-color: #9C1A1C;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    display: block;
    color: black;
    font-size: 2em;
}


/*=====================================================================================================================
REPORT PAGE
======================================================================================================================*/


select,                                         /*TODO shared selector*/
.select-hours,
.select-hours > option {
    color: rgb(253,246,227);
}


div > .form-group.row.role-hours {
    border: 1pt solid rgb(253,246,227);
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8pt;
    color: rgb(253,246,227);
    background-color: rgba(28, 26, 24, 0.7);
}

.cash-row {
    margin-top: 0;
    margin-bottom: 0;
    border-collapse: collapse;
}

#shift-date {
    margin-top: 5vh;
}

#cash-tips {
    margin-bottom: 5vh;
}

#daily-row {
    padding-top: 8pt;
}

#report-tips,
#cash-tips,
.dark-content-div {                             /*TODO shared selector*/
    padding: 8pt;
    color: rgb(253,246,227);
    border-radius: 5pt;
    background-color: rgba(28, 26, 24, 0.7);
}

#work-hours-div {
    color: rgb(253,246,227);
}

#cash-totals-input-div {
    margin-top: 5em;
}

#daily-tips-total-input-div {
    margin-top: 5em;
    align-content: center;
}

.denom-label{
    opacity: 0.7;
    margin-left: 0;
    margin-right: 0;
    padding-top: 4pt;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 4pt;
    color: rgb(253,246,227);
    border-collapse: collapse;
    background-color:rgba(52,140,156,0.80);
    border: 1pt solid rgb(253,246,227);
}

#report-tips::placeholder,
#report-tips:-moz-placeholder,
#report-tips::-moz-placeholder,
#report-tips:-ms-input-placeholder,
#report-tips::-webkit-input-placeholder {
    opacity: 0.7;
    padding-left: 2em;
    font-size: smaller;
    font-weight: lighter;
}

/*<editor-fold desc="Description">*/
/*#report-tips:-moz-placeholder {*/
    /*font-weight: lighter;*/
    /*padding-left: 2em;*/
    /*font-size: smaller;*/
    /*opacity: 0.7;*/
/*}*/
/*#report-tips::-moz-placeholder {*/
    /*font-weight: lighter;*/
    /*padding-left: 2em;*/
    /*font-size: smaller;*/
    /*opacity: 0.7;*/
/*}*/
/*#report-tips:-ms-input-placeholder {*/
    /*font-weight: lighter;*/
    /*padding-left: 2em;*/
    /*font-size: smaller;*/
    /*opacity: 0.7;*/
/*}*/
/*#report-tips::-webkit-input-placeholder {*/
    /*font-weight: lighter;*/
    /*padding-left: 2em;*/
    /*font-size: smaller;*/
    /*opacity: 0.7;*/
/*}*/
/*</editor-fold>*/

/*=====================================================================================================================
LOGIN PAGE
======================================================================================================================*/

#login-sandbag {
    flex-grow: 1;
}

.login-form input[type=submit] {
    display: block;
    margin: 0 auto;
}

.login-form {
    margin: 0;
}

.login-footer {
    min-width: 100%;
    min-height: 100%;
    border-radius: 5pt;
    color: rgb(253,246,227);
    background-color: rgba(28, 26, 24, 0.7);
}



/*=====================================================================================================================
     MEDIA QUERIES
======================================================================================================================*/

@media only screen
and (orientation: landscape)
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .login-form {
        display: inline-flex;
    }
    .login-form > input {
        display: inline-table;
    }
}

@media only screen
and (orientation: portrait)
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .login-form {
        display: inherit;
    }
}

@media only screen
and (min-device-width: 768px) {
    .sidebar-hr {
        display: none;
    }
}

/*@media screen and (max-width: 768px) {*/

    /*#sidebar-div {*/
        /*display : none;*/
    /*}*/

    /*#sidebar-div.in {*/
        /*display       : block;*/
        /*position      : relative;*/
        /*z-index       : 1030;*/
        /*top           : 0;*/
        /*bottom        : 0;*/
        /*overflow-y    : auto;*/
        /*border-radius : 0;*/
        /*padding       : 0;*/
        /*min-height    : 100%;*/
    /*}*/
/*}*/
    /*position: fixed;*/
    /*top: 56px; !* Height of navbar *!*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*padding-right: 1rem;*/
    /*padding-left: 1rem;*/
    /*overflow-y: auto;*/
    /*background-color: var(--gray-dark);*/
    /*transition: -webkit-transform .3s ease-in-out;*/
    /*transition: transform .3s ease-in-out;*/
    /*transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;*/
    /*-webkit-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
  /*}*/
  /*.offcanvas-collapse.open {*/
    /*-webkit-transform: translateX(-1rem);*/
    /*transform: translateX(-1rem); !* Account for horizontal padding on navbar *!*/
  /*}*/
/*}*/



/*=====================================================================================================================
     FORMS
======================================================================================================================*/

form {
    color: rgb(253,246,227);
}

.col-4.col-form-label {
    align-content: center;
    text-align: center;
}

.form-check-label {
    white-space: nowrap;
}

.form-check-input {
    padding: 2em;
}










/*=====================================================================================================================
     BUTTONS
======================================================================================================================*/

#button-div{
    width: 100%;
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    align-content: center;
    justify-content: center;
}

/*.btn,*/
/*button,*/
input[type=submit],
.login-form input[type=submit] {
    color: rgba(253,246,227,0.9);
    background-color: rgba(52,140,156,0.70);
    border: 1pt solid rgba(52,140,156,0.70);
}

/*.btn:hover,*/
/*button:hover,*/
input[type=submit]:hover {
    transition: 600ms;
    color: white;
    background-color: transparent;
    border: 1pt solid white;
}

#submit-button,
#report-btn {
    margin: 0 auto;
    display: block;
    opacity: 0.9;
    padding-top: 4pt;
    border: 1pt solid rgb(253,246,227);
    background-image: linear-gradient(120deg, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    /*region Alt Gradients*/
    /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
    /*background-image: linear-gradient(120deg, #9c4434 0%, #550D00 19%, #678f30 42%, #267240 79%, #348c9c 100%);*/
    /*background-color: #4E9C68;*/
    /*background-color: #9C4434;*/
    /*background-color: #AF3139;*/
    /*background-color: #935254;*/
    /*endregion*/
}

#report-btn:focus,
#report-btn:hover,
#submit-btn:focus,
#submit-btn:hover {
  background-image: linear-gradient(120deg, #9c4434 0%, #550D00 19%, #678f30 42%, #267240 79%, #348c9c 100%);
}


/*.btn-nav {*/
    /*background-color: black;*/
    /*border: 1pt solid black ;*/
    /*color: rgb(253,246,227);*/
/*}*/

.btn-nav:focus,
.btn-nav:hover {
    background-color: rgba(52,140,156,0.70);
    border: 1pt solid  rgb(253,246,227);
    color: black;
    transition: 600ms;
}







/*=====================================================================================================================
     INPUTS
======================================================================================================================*/



/*.dark-input,*/
/*.denom-input,*/
/*input[type=text],*/
/*input[type=password],*/
/*#registration-form > input {*/
input[type=text],
input[type=number],
input[type=password],
select {
    margin-left: 0;
    margin-right: 0;
    padding-top: 4pt;
    color: rgba(253,246,227,0.95);
    padding-bottom: 4pt;
    background-color: rgba(28, 26, 24, 0.7);
}

/*.dark-input:focus,*/
/*.denom-input:focus,*/
/*input[type=text]:focus,*/
/*input[type=password]:focus,*/
/*#registration-form > input:focus,*/
input[type=password]:focus,
input[type=text]:focus,
input[type=number]:focus,
select:focus {
    transition: 600ms;
    color: rgba(253,246,227,0.95);
    background-color: rgba(52,140,156,0.7);
}

input[type=checkbox]:checked {
    transition: 600ms;
    box-shadow: 0 0 3px rgba(52,140,156,0.70), 0 0 6px rgba(253,246,227,0.95);
}

input[type=checkbox]:checked~label~div {
    transition: 600ms;
    color: rgba(52,140,156,0.70);
    box-shadow: 0 0 3px rgba(253,246,227, 0.95);

}


.input-wrapper{
    padding: 0;
    border-collapse: collapse;
    color: rgba(253,246,227,0.95);
    background-color: rgba(28, 26, 24, 0.7);

}

.input-wrapper > input {
    margin: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    color: rgba(253,246,227,0.95);
    background-color: rgba(28, 26, 24, 0.7);

}

::placeholder,
input::placeholder,
#report-tips::placeholder,
.form-control.denom-input::placeholder {
    opacity: 0.7;
    padding-left: 2em;
    font-weight: lighter;
    font-size: smaller;
    color: rgb(253,246,227);
}

:-ms-input-placeholder,
input:-ms-input-placeholder,
#report-tips:-ms-input-placeholder,
.form-control.denom-input:-ms-input-placeholder {
    opacity: 0.7;
    padding-left: 2em;
    font-size: smaller;
    font-weight: lighter;
    color: rgb(253,246,227);
}

input::-webkit-input-placeholder, #report-tips::-webkit-input-placeholder, .form-control.denom-input::-webkit-input-placeholder, ::-webkit-input-placeholder {
    color: rgb(253,246,227);
    opacity: 0.7;
    padding-left: 2em;
    font-weight: lighter;
    font-size: smaller;
}

input::-moz-placeholder, #report-tips::-moz-placeholder, .form-control.denom-input::-moz-placeholder, ::-moz-placeholder {
    color: rgb(253,246,227);
    opacity: 1;
    padding-left: 2em;
    font-weight: lighter;
    font-size: smaller;
}

input:-moz-placeholder, #report-tips:-moz-placeholder, .form-control.denom-input:-moz-placeholder, :-moz-placeholder {
    color: rgb(253,246,227);
    opacity: 0.7;
    padding-left: 2em;
    font-weight: lighter;
    font-size: smaller;
}


/*=====================================================================================================================
     NAVIGATION
======================================================================================================================*/

.nav-item {
    color: rgb(253,246,227);
}

.navbar {
    background-color: rgba(28, 26, 24, 0.7);
}

/*nav,*/
/*.btn-nav,*/
/*.nav-item,*/
/*.nav-link,*/
/*.btn.btn-block.btn-nav*/
/*.btn-nav:link*/


#nav-dd-btn, #nav-dd-btn:focus, #nav-dd-btn:hover {
    border: none;
}

#admin-dd-menu {
    background-color: rgba(28, 26, 24, 0.7);
    box-shadow: 0 1px 4px white;
    border-radius: 5pt;
    -webkit-animation-name: dropdown-white;
    -webkit-animation-duration: 600ms;
}

@keyframes dropdown-white {
    from {box-shadow: 0 1px 4px rgba(1,220,230,0.9)}
    to {box-shadow: 0 1px 4px white}
}

#admin-dd-menu:hover,
#admin-dd-menu:focus,
#admin-dd-menu:active {
    box-shadow: 0 1px 4px rgba(1,220,230,0.9);
    -webkit-animation-name: dropdown-blue;
    -webkit-animation-duration: 600ms;
}

@keyframes dropdown-blue {
    from {box-shadow: 0 1px 4px white}
    to {box-shadow: 0 1px 4px rgba(1,220,230,0.9)}
}

a.nav-link, #nav-dd-btn {
    /* CURSIVE
    Niconne|Federo|Megrim|Codystar|Monofett|Bungee+Outline|Gugi|Poiret+One|

    SANS SERIF
    Montserrat+Subrayada|Text+Me+One|Chathura*/
    font-size: 2em;
    font-weight: bolder;
    font-family: "Megrim", cursive;
    /*font-family: "Montserrat Subrayada", sans-serif;*/
    text-shadow: 0 1px 4px rgb(255,255,255);
    background-color: transparent;
    color: rgba(60, 160, 178,.7);
    /*margin-left: 0;*/
    /*padding-left: 0;*/
    -webkit-animation-name: blues;
    -webkit-animation-duration: 600ms;
}

@keyframes blues {
    from {color: rgba(1,220,230,0.9);}
    to {color: rgba(60, 160, 178,.7);}
    /*from {text-shadow: 0 1px 12px rgb(255,255,255);}*/
    /*to {text-shadow: 0 1px 4px rgb(255,255,255);}*/
    /*from {background-image: radial-gradient(circle,rgba(255,255,255,0.95), rgba(255,255,255,0));}*/
    /*to {background-image: radial-gradient(circle,rgba(255,255,255,0), rgba(255,255,255,0));}*/
}

a.dropdown-item.nav-link:focus,
a.dropdown-item.nav-link:hover {

    /*background-color: rgba(28, 26, 24, 0.7);*/
    background-color : transparent;
}


.dropdown-menu {
    background-color: rgba(28, 26, 24, 0.7); /*background-color: transparent;*/
    padding: 1em;
}

.dropdown {
    background-color: transparent;
}

a.nav-link:hover,
a.nav-link:focus,
#nav-dd-btn:hover,
#nav-dd-btn:focus {
    color: rgba(1,220,230,0.9);
    text-shadow: 0 1px 4px rgb(255,255,255);
    -webkit-animation-name: bluer;
    -webkit-animation-duration: 600ms;
}
@keyframes bluer {
    from {color: rgba(60, 160, 178,.7);}
    to {color: rgba(1,220,230,0.9);}
    /*from {text-shadow: 0 1px 4px rgb(255,255,255);}*/
    /*to {text-shadow: 0 1px 12px rgb(255,255,255);}*/
    /*from {background-image: radial-gradient(circle,rgba(255,255,255,0), rgba(255,255,255,0));}*/
    /*to {background-image: radial-gradient(circle,rgba(255,255,255,0.95), rgba(255,255,255,0));}*/
}

#nav-username {
    color: rgba(140,20,38,.7);
    text-shadow: 0 1px 4px rgb(255,255,255);
    -webkit-animation-name: reds;
    -webkit-animation-duration: 600ms;
}

@keyframes reds {
    from {color: rgba(252,20,5,0.9);}
    to {color: rgba(140,20,38,.7);}
    /*from {text-shadow: 0 1px 12px rgb(255,255,255);}*/
    /*to {text-shadow: 0 1px 4px rgb(255,255,255);}*/
    /*from {background-image: radial-gradient(circle,rgba(255,255,255,0.95), rgba(255,255,255,0));}*/
    /*to {background-image: radial-gradient(circle,rgba(255,255,255,0), rgba(255,255,255,0));}*/


}

#nav-username:hover,
#nav-username:focus {
    color: rgba(252,20,5,0.9);
    text-shadow: 0 1px 4px rgb(255,255,255);
    transition: 600ms;
    -webkit-animation-name: redder;
    -webkit-animation-duration: 600ms;
}

@keyframes redder {
    from {color: rgba(140,20,38,.7);}
    to {color: rgba(252,20,5,0.9);}
    /*from {text-shadow: 0 1px 12px rgb(255,255,255);}*/
    /*to {text-shadow: 0 1px 4px rgb(255,255,255);}*/
    /*from {background-image: radial-gradient(circle,rgba(255,255,255,0), rgba(255,255,255,0));}*/
    /*to {background-image: radial-gradient(circle,rgba(255,255,255,0.95), rgba(255,255,255,0));}*/
}

ul.flex-container {
    display: flex;
    justify-content: space-around;
    margin-left:0 ;
    padding-left: 0;
}



.navbar-brand {
    font-size: 3em;
    font-family: 'Niconne', cursive;
}

#nav-span-1,
#nav-span-2 {
    font-size: small;
}

.sidebar-hr {
    margin: 1.5em;
    border: rgb(253,246,227) ridge 2px;
}

.navbar-collapse {
    display: flex;
    justify-content: space-evenly;
}

.dd-content {
    background-color: rgba(28, 26, 24, 0.9);
    color: rgba(60, 160, 178,.7);
    text-shadow: 0 1px 4px rgb(255,255,255);
    -webkit-animation-name: dd-content-whiter;
    -webkit-animation-duration: 600ms;
}

@keyframes dd-content-whiter {
    from {color: rgba(1,220,230,0.9)}
    to {color: rgba(60,160,178,0.7)}
}

.dd-content:hover,
.dd-content:focus {
    color                      : rgba(1,220,230,0.9);
    -webkit-animation-name     : dd-content-bluer;
    -webkit-animation-duration : 600ms;
    /*background                 : transparent none;*/
}

@keyframes bluer {
    from {color: rgba(60,160,178,0.7)}
    to {color: rgba(1,220,230,0.9)}
}

/*.container .dropdown .dropdown-menu a:hover {*/
    /*background : transparent none;*/
/*}*/

.navbar-toggler-icon,
.navbar-toggler {
    color: rgba(60,160,178,0.7);
    border-color: rgba(60,160,178,0.7)
}

.navbar-toggler-icon:hover,
.navbar-toggler-icon:focus,
.navbar-toggler:hover,
.navbar-toggler:focus {
    color: rgba(1,220,230,0.9);
    border-color: rgba(1,220,230,0.9);
    transition: transform 1s;
}

#dd-nav-item {
    padding: 0;
}
.navbar-toggler {

}