{% extends 'bootstrap/base.html' %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{##}
{#<head>#}
    {% block head %}
        {{ super() }}

        <title>Volstead's Vault {% block title %}{% endblock %}</title>

        {% block metas %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block styles %}
            <link href="{{ bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap') }}" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous">
            <link rel=stylesheet href={{ url_for('static', filename='css/template_style.css') }}>
            <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Clicker+Script|Euphoria+Script|Italianno|Meddon|Niconne" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Almendra+Display|Anaheim|Berkshire+Swash|Economica|Federo|Fondamento|Griffy|Josefin+Sans|Jura|M+PLUS+Rounded+1c|Marmelad|Maven+Pro|Metrophobic|Mystery+Quest|NTR|Niramit|Quattrocento+Sans|Rajdhani|Ruge+Boogie|Saira|Sawarabi+Mincho|Spirax|Stylish|Supermercado+One|Thasadith" rel="stylesheet">
        {% endblock %}

    {% endblock %}
{#</head>#}

{#<body>#}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
        <div class="container">
            <div class="container-fluid px-0">
                <div class="row mx-0">

                   <div class="col-12 px-0" id="image-div">#}
                        <img class="img-fluid w-100" id="banner-image" src="{{ url_for('static', filename='img/marquee-Volstead.jpg') }}">
                    </div>

                    <div class="col-12 nav-wrapper">
                        <nav class="navbar navbar-expand-sm navbar-dark" role="navigation">
                           <a class="navbar-brand" href="#">Volstead's Vault</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="nav-target">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="nav-target">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                    <li class="nav-item">
                                        <a class="{{ url_for('main.start_report') }}">Start Report</a>
                                    </li>
                                    {% if current_user.is_authenticated %}
                                        <li class="nav-item">
                                            <a class="{{ url_for('auth.logout') }}">Logout</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="{{ url_for('auth.login') }}">Login</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="content col-12" id="layout-content-div">
                        {% block page_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{#</body>#}


 {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}




