{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
        <div class="col-lg-8 col-md-8 col-sm-10">
            <h1 class="page-header">{{ _('SIGN IN') }}</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8 dark-content-div form-wrapper">
            {{ wtf.quick_form(form, extra_classes="login-form")}}
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row" id="login-sandbag">
        <div class="col"></div>
    </div>
    <div class="row" id="login-footer-wrapper">
        <div class="col"></div>
        <div class="col-8 text-center login-footer">
              <p class="login-footer">
                {{ _('Forgot Your Password?') }}
                <a href="{{ url_for('auth.reset_password_request') }}">
                    {{ _('Click to Reset') }}
                </a>
            </p>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/checkbox_label.js') }}"></script>
{% endblock %}