{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="form-wrapper">
        <form method="post" action="{{ url_for('main.start_report') }}" id="user-login-form">
            <div class="username">
                {{ form.username(placeholder='username') }} {{ form.username.label }}
                {% if form.username.errors %}
                    <ul class="errors">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {{ endfor }}
                    </ul>
                {% endif %}
            </div>
            <div class="password">
                {{ form.password }} {{ form.password.label }}
                {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        <div class="submit-login-btn">
            <input id="login-btn" type="submit" value="Submit">
        </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}