
{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles%}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
        <div class="col-lg-8 col-md-8 col-sm-10">
            <h1 class="page-header">{{ _('RESET PASSWORD') }}</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
        <div class="col-lg-8 col-md-8 col-sm-10 text-center dark-content-div form-wrapper">
            <form class='pw-reset-form' action="" method="post">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="submit-wrapper">{{ form.submit() }}</div>
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}