
{% extends "layout.html" %}

{% block styles %}
    {{ super() }}
{% endblock %}


{% block page_content %}

    {% if error %}
        <div class="row no-gutters">
            <div class="col err-msg-wrapper">
                <p class="error center-block text-center">Error: {{ error }}</p>
            </div>
        </div>
    {% endif %}

    <div class="row no-gutters" id="content-row">
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
        <div class="col-lg-8 col-md-8 col-sm-10" id="content-form-div">
            <form action="{{ url_for('main.start_report') }}" method="post" id="shift-details-form">
                <div class="row no-gutters">
                    <div id="work-hours-div" class="col-12">
                        {% for staff in shift.staff|sort(attribute='first_name') %}
                            <div class="form-group row role-hours no-gutters" id={{ staff.first_name }}{{ staff.last_name }}>
                                <div class="col-1"></div>
                                <div class="col-2 text-left col-form-label emp-name">
                                    <label for={{ staff.first_name }}{{ staff.last_name }}-hours>{{ staff.first_name }}</label>
                                </div>
                                <div class="col text-center">
                                    <select title="Tip Hours" class="select-hours" id={{ staff.first_name }}{{ staff.last_name }}-hours name={{ staff.first_name }}{{ staff.last_name }}-hours>
                                        {% for x in float_range[0] %}
                                            <option value={{ x }} {% if x == 0.0 %}selected{% endif %} >{{ x }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-1"></div>
                                <div class="form-group col-6 center-block text-center">
                                        {% if staff.tip_role == 'SERVICE' %}
                                            <div class="form-check-inline pull-left">
                                                <label class="form-check-label" for={{ staff.first_name }}{{ staff.last_name }}-full>
                                                    <input class="form-check-input tip-share-radio" name={{ staff.first_name }}{{ staff.last_name }}-radio type="radio" id={{ staff.first_name }}-full value="SERVICE" checked>Service (x1.0)</label>
                                            </div>
                                            <div class="form-check-inline center-block">
                                                <label class="form-check-label" for={{ staff.first_name }}{{ staff.last_name }}-partial>
                                                    <input class="form-check-input tip-share-radio" name={{ staff.first_name }}{{ staff.last_name }}-radio type="radio" id={{ staff.first_name }}-partial value="SUPPORT">Support (x0.65)</label>
                                            </div>
                                        {% else %}
                                            <div class="form-check-inline pull-left">
                                                <label class="form-check-label" for={{ staff.first_name }}{{ staff.last_name }}-full>
                                                    <input class="form-check-input tip-share-radio" name={{ staff.first_name }}{{ staff.last_name }}-radio type="radio" id={{ staff.first_name }}-full value="SERVICE">Service (x1.0)</label>
                                            </div>
                                            <div class="form-check-inline center-block">
                                                <label class="form-check-label" for={{ staff.first_name }}{{ staff.last_name }}-partial>
                                                    <input class="form-check-input tip-share-radio" name={{ staff.first_name }}{{ staff.last_name }}-radio type="radio" id={{ staff.first_name}}{{ staff.last_name }}-partial value="SUPPORT" checked>Support (x0.65)</label>
                                            </div>
                                        {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>


{#============================================RINGER==============================================#}

                    <div id="ringer-hours-div" class="col-12">

                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col alt-staff-btn-wrapper">
                                <button class="btn" type="button"  id="collapse-toggle" data-toggle="collapse" data-target="#collapse">Add Ringer To Shift
                                </button>
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <div class="collapse" id="collapse">

                            {% for alt in shift.alt_staff|sort(attribute='first_name') %}

                                <div class="form-group row role-hours no-gutters" id={{ alt.first_name }}{{ alt.last_name }}>

                                    <div class="col-1"></div>

                                    <div class="col-2 text-left col-form-label emp-name">
                                        <label for={{ alt.first_name }}{{ alt.last_name }}-hours>{{ alt.first_name }}</label>
                                    </div>

                                    <div class="col text-center">
                                        <select title="Tip Hours" class="select-hours" id={{ alt.first_name }}{{ alt.last_name }}-hours name={{ alt.first_name }}{{ alt.last_name }}-hours>
                                            {% for x in float_range[0] %}
                                                <option value={{ x }}
                                                    {% if x == 0.0 %}
                                                        selected
                                                    {% endif %}
                                                >{{ x }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-1"></div>

                                    <div class="form-group col-6 center-block text-center">

                                        {% if alt.tip_role == 'SERVICE' %}

                                            <div class="form-check-inline pull-left">
                                                <label class="form-check-label" for={{ alt.first_name }}{{ alt.last_name }}-full>
                                                    <input class="form-check-input" name={{ alt.first_name }}{{ alt.last_name }}-radio type="radio" id={{ alt.first_name }}{{ alt.last_name }}-full value="SERVICE" checked>
                                                    Service (x1.0)
                                                </label>
                                            </div>
                                            <div class="form-check-inline center-block">
                                                <label class="form-check-label" for={{ alt.first_name }}{{ alt.last_name }}-partial>
                                                    <input class="form-check-input" name={{ alt.first_name }}{{ alt.last_name }}-radio type="radio" id={{ alt.first_name }}{{ alt.last_name }}-partial value="SUPPORT">
                                                    Support (x0.65)
                                                </label>
                                            </div>

                                        {% else %}

                                            <div class="form-check-inline pull-left">
                                                <label class="form-check-label" for={{ alt.first_name }}{{ alt.last_name }}-full>
                                                    <input class="form-check-input" name={{ alt.first_name }}{{ alt.last_name }}-radio type="radio" id={{ alt.first_name }}{{ alt.last_name }}-full value="SERVICE">
                                                    Service (x1.0)
                                                </label>
                                            </div>
                                            <div class="form-check-inline center-block">
                                                <label class="form-check-label" for={{ alt.first_name }}{{ alt.last_name }}-partial>
                                                    <input class="form-check-input" name={{ alt.first_name }}{{ alt.last_name }}-radio type="radio" id={{ alt.first_name }}{{ alt.last_name }}-partial value="SUPPORT" checked>
                                                    Support (x0.65)
                                                </label>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>



                    </div>


                    <div id="cash-totals-input-div" class="col-12">
                        {% for denom in shift.cash_subtotals %}
                            <div class="form-group row cash-row no-gutters">
                                <label for="{{ denom }}" class="col-4 col-form-label denom-label text-center">${{ denom }}</label>
                                <div class="col form-control input-wrapper">
                                    <input type="number" min="0" step="{{ denom }}" class="form-control denom-input" id="{{ denom }}" name="{{ denom }}"
                                           placeholder="ENTER SUBTOTAL FOR {{ denom }}" required>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="daily-tips-total-input-div" class="col-12">
                        <div class="form-group row no-gutters text-center" id="daily-row">
                            <label for="report-tips" class="col-auto col-form-label">Total Tips from Daily Report</label>
                            <div class="col-12 center-block">
                                <input type="number" class="form-control" id="report-tips" name="report-tips" placeholder="Ex. 1337.87" min=0 step=0.01 required>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" id="button-div">
                        <div class="row no-gutters">
                            <div class="col-12 center-block">
                                <button class="button btn btn-info center-block" type="submit" id="submit-button">MAGIC BUTTON ??!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/highlight_row.js') }}"></script>
{#    <script src="{{ url_for('static', filename='js/collapse.js') }}"></script>#}
{% endblock %}