
{% extends "layout.html" %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="row no-gutters" id="report-content-row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
            <form action="{{ url_for('main.submit_report') }}" method="post" id="submit-report-form">
                <div class="row no-gutters">
                    <div class="col-12" id="shift-date">
                        <h2>{{ stringify_date(shift.start_date) }}</h2>
                    </div>
                    <div class="col report-details">
                        <h2 class="report-details-h2">TIP HOURS: {{ shift.tip_hours|round(2) }}</h2>
                    </div>
                    <div class="col report-details">
                        <h2 class="report-details-h2">CASH TIP POOL: {{ shift.cash_tip_pool }}</h2>
                    </div>
                    <div class="col report-details">
                        <h2 class="report-details-h2">CASH TIP WAGE: {{ shift.cash_tip_wage|round(2) }}</h2>
                    </div>
                    <div class="col report-details">
                        <h2 class="report-details-h2">CC TIP POOL: {{ shift.cred_tip_pool }}</h2>
                    </div>
                    <div class="col report-details">
                        <h2 class="report-details-h2">CC TIP WAGE: {{ shift.cred_tip_wage|round(2) }}</h2>
                    </div>
                    <div class="col-12" id="report-tips">
                        <table class="table table-dark table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="row" colspan="5">CC ONLY TOTALS</th>
                                </tr>
                                <tr>
                                    <th class="col col-th" scope="col">EMPLOYEE</th>
                                    <th class="col col-th" scope="col">SHIFT HOURS</th>
                                    <th class="col col-th" scope="col">ROLE</th>
                                    <th class="col col-th" scope="col">TIP HOURS</th>
                                    <th class="col col-th" scope="col">TOTAL</th>
                                </tr>
                            </thead>
                              {% for emp in employees|sort(attribute='first_name') %}
                                {% if emp.tip_hours > 0 %}
                                    <tr>
                                        <th class='th-dark' scope="row">{{ emp.first_name }}</th>
                                        <td class="td-dark">{{ emp.shift_hours }}</td>
                                        {% if emp.tip_role == 'SERVICE' %}
                                            <td class="td-dark">Service (x1.00)</td>
                                        {% elif emp.tip_role == 'SUPPORT' %}
                                            <td class="td-dark">Support (x0.65)</td>
                                        {% endif %}
                                        <td class="td-dark">{{ emp.tip_hours|round(2) }}</td>
                                        <td class="td-dark">{{ emp.cred_tips|round(2) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-12" id="cash-tips">
                        <table class="table table-dark table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="row" colspan="5">CASH TOTALS</th>
                                </tr>
                                <tr>
                                    <th class="col col-th" scope="col">EMPLOYEE</th>
                                    <th class="col col-th" scope="col">SHIFT HOURS</th>
                                    <th class="col col-th" scope="col">ROLE</th>
                                    <th class="col col-th" scope="col">TIP HOURS</th>
                                    <th class="col col-th" scope="col">TOTAL</th>
                                </tr>
                            </thead>
                              {% for emp in employees|sort(attribute='first_name') %}
                                {% if emp.tip_hours > 0 %}
                                    <tr>
                                        <th class='th-dark' scope="row">{{ emp.first_name }}</th>
                                        <td class="td-dark">{{ emp.shift_hours }}</td>
                                        {% if emp.tip_role == 'SERVICE' %}
                                            <td class="td-dark">Service (x1.00)</td>
                                        {% elif emp.tip_role == 'SUPPORT' %}
                                            <td class="td-dark">Support (x0.65)</td>
                                        {% endif %}
                                        <td class="td-dark">{{ emp.tip_hours|round(2) }}</td>
                                        <td class="td-dark">{{ emp.cash_tips|round(2) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-12" id="submit-to-db-div">
                        <div class="row no-gutters">
                            <div class="col-12 center-block" id="report-btn-div">
                                <button class="button btn btn-info center-block" type="submit" id="report-btn">OMG PRAY THIS WORKS</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="shift_data" id="shift_data" value="{{ shift }}">
                <input type="hidden" name="emp_data" id="emp_data" value="{{ employees }}">
            </form>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>

{% endblock %}