/*@media all and (max-width: 567px) {}*/
/*@media all and (max-width: 991px) {}*/
/*@media all and (min-width: 992px) {}*/
/*@media all and (min-width:768px) and (max-width:991px) {}*/
/*@media all and (min-width:540px) and (max-width: 1199px) {}*/

/*font-family: 'Niconne', cursive;*/
/*font-family: 'Italianno', cursive;*/
/*font-family: 'Clicker Script', cursive;*/
/*font-family: 'Bilbo Swash Caps', cursive;*/
/*font-family: 'Euphoria Script', cursive;*/
/*font-family: 'Meddon', cursive;*/

/*font-family: 'Thasadith', sans-serif;*/
/*font-family: 'Maven Pro', sans-serif;*/
/*font-family: 'Rajdhani', sans-serif;*/
/*font-family: 'Quattrocento Sans', sans-serif;*/
/*font-family: 'Economica', sans-serif;*/
/*font-family: 'Jura', sans-serif;*/
/*font-family: 'Sawarabi Mincho', sans-serif;*/
/*font-family: 'Marmelad', sans-serif;*/
/*font-family: 'Saira', sans-serif;*/
/*font-family: 'Metrophobic', sans-serif;*/
/*font-family: 'M PLUS Rounded 1c', sans-serif;*/
/*font-family: 'Niramit', sans-serif;*/
/*font-family: 'Federo', sans-serif;*/
/*font-family: 'Anaheim', sans-serif;*/
/*font-family: 'NTR', sans-serif;*/
/*font-family: 'Stylish', sans-serif;*/
/*font-family: 'Berkshire Swash', cursive;*/
/*font-family: 'Fondamento', cursive;*/
/*font-family: 'Spirax', cursive;*/
/*font-family: 'Mystery Quest', cursive;*/
/*font-family: 'Griffy', cursive;*/
/*font-family: 'Supermercado One', cursive;*/
/*font-family: 'Almendra Display', cursive;*/
/*font-family: 'Ruge Boogie', cursive;*/

body {
    background-color: black;
    font-family: 'Federo', sans-serif;
}

* html {
    height: 100%;
}

td, tr, thead, table {
    color: #E2D6C5;
    font-size: 14pt;
    text-align: center;
    align-content: center;
    border: 1pt solid #E2D6C5;
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

h2 {
    margin: auto;
    display: block;
    background-color: #527593;
    color: #E2D6C5;
    border: 1pt solid #E2D6C5;
    border-collapse: collapse;
    align-content: center;
    text-align: center;
    width: 100%;
    text-wrap: normal;
    white-space: pre-wrap;
    height: 100%;
    opacity: 0.8;
}

div > .form-group.row.role-hours {
    border: 1pt solid #E2D6C5;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8pt;
    color: white;
}

#banner-image {
    opacity: 0.3;
}

#content-row {
    margin-top: 5vh;
}

#work-hours-div {
    background-color: #5c5750;
    color: white;
    opacity: 0.8;
}

.cash-row {
    border: #E2D6C5 1pt solid;
    margin-top: 0;
    margin-bottom: 0;
    border-collapse: collapse;
}

#cash-totals-input-div {
    margin-top: 5em;
}

#daily-tips-total-input-div {
    margin-top: 5em;
    align-content: center;
}

.col-4.col-form-label {
    align-content: center;
    text-align: center;
}

.form-check-label {
    white-space: nowrap;
}

.form-check-input {
    padding: 2em;
}

#image-div {
    width: 100%;
    height: 100%;
    top: 0;
    background-image: linear-gradient(
            rgba(92,87,80, 0.0) 0%,
            rgba(92,87,80, 0.0) 70%,
            rgba(92,87,80, 0.2) 80%,
            rgba(92,87,80, 0.7)  90%,
            rgba(92,87,80, 0.9)  95%,
            rgba(92,87,80, 1.0)  100%
    );
    /*https://codepen.io/komejo/pen/RgwrZb*/

}

form {
    color:white;
}

.select-hours, .select-hours > option, select {
    color: #5c5750;
}

#button-div {
    margin-top: 3em;
    margin-bottom: 3em;
    align-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit-button {
    margin: 0 auto;
    display: block;
    opacity: 0.8;
    background-color: #AF3139;
    border: 1pt solid #E2D6C5;
    padding-top: 4pt;
}

.col-3.report-details {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.report-details-h2 {
    margin: 0;
    padding: 1em;
    text-align: center;
    justify-content: center;
}

#layout-content-div {
    height: 100%;
    background-size: contain;
    /*background: url("../img/vol_lib_port.jpg") repeat-y;*/
    background: url("../img/vol_lib_port.jpg") repeat-y;
    width: 100%;
    margin: 0;
}

.denom-label{
    background-color: #527593;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    opacity: 0.7;
    /*border: 1pt solid white;*/
    margin-left: 0;
    margin-right: 0;

}

.denom-input {
    background-color: #5c5750;
    color: white;
    opacity: 0.7;
    margin-left: 0;
    margin-right: 0;
}

#report-tips, #cash-tips {
    background-color: #5c5750;
    opacity: 0.7;
    color: white;
}

#daily-row {
    padding-top: 8pt;
}

::placeholder {
    color: white;
    opacity: 1;
}

#shift-date {
    margin-top: 5vh;
}