/*@media all and (max-width: 567px) {}*/
/*@media all and (max-width: 991px) {}*/
/*@media all and (min-width: 992px) {}*/
/*@media all and (min-width:768px) and (max-width:991px) {}*/
/*@media all and (min-width:540px) and (max-width: 1199px) {}*/

body {
    background-color: black;
}

td, tr, thead, table {
    color: #46b8da;
    font-size: 14pt;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    border: 1pt solid white;
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

h2 {
    margin: auto;
    display: block;
    background-color: #46b8da;
    color: black;
    align-content: center;
    text-align: center;
    width: 100%;
}

* html {
    margin: 0 auto;
    padding: 0;
}

div > .form-group.row.role-hours {
    border: 1pt solid white;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8pt;
    color: #46b8da;
}

#banner-image {
    width: 100%;
    height: auto;
    margin: 0;
    /*opacity: 0.7;*/
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    background-color: white;
    border: white 1pt inset;
    /*display: block;*/
    padding: 0;
}

#content-row {
    margin-top: 5vh;
}

#work-hours-div {
    background-color: black;
    color: #46b8da;
}

.col-2.col-form-label.denom-label {
    background-color: #46b8da;
    color: black;
    font-size: medium;
}
.cash-row {
    border: white 1pt solid;
    margin-top: 0;
    margin-bottom: 0;
    border-collapse: collapse;
    border-radius: 3pt;
}

#cash-total-div {
    margin-top: 5em;
}


#report-tips-total {
    margin-top: 5em;
    border: 1pt white solid;
    border-radius: 3pt;
    /*align-content: center;*/
    /*text-align: center;*/
    /*padding: 0;*/
}



/*font-family: 'Niconne', cursive;*/
/*font-family: 'Italianno', cursive;*/
/*font-family: 'Clicker Script', cursive;*/
/*font-family: 'Bilbo Swash Caps', cursive;*/
/*font-family: 'Euphoria Script', cursive;*/
/*font-family: 'Meddon', cursive;*/

#image-div {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;

    /*font-family: 'Italianno', cursive;*/
    /*font-family: 'Clicker Script', cursive;*/
    /*font-family: 'Bilbo Swash Caps', cursive;*/
    /*font-family: 'Euphoria Script', cursive;*/
    /*font-family: 'Meddon', cursive;*/
}

form {
    color: #46b8da;
}

.select-hours, .select-hours > option {
    color: black;
}

select {
    color:black;
}

input {
    height: auto;
    width: 100%;
}

#button-div {
    align-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

#submit-button {
    margin: 0 auto;
    display: block;
}