
{% extends "layout.html" %}

{% block styles %}{{ super() }}{% endblock %}

{% block content %}

    <div class="row" id="report-content-row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
            <div class="col-12" id="shift-date">
                <h2>{{ shift.start_date }}</h2>
            </div>
            {# TIP HOURS -- TIP WAGE -- CC WAGE #}
            <div class="col-3 report-details"><h2>TIP HOURS: {{ shift.tip_hours }}</h2></div>
            <div class="col-3 report-details"><h2>TIP POOL: {{ shift.tip_pool }}</h2></div>
            <div class="col-3 report-details"><h2>TIP WAGE: {{ shift.tip_wage }}</h2></div>
            <div class="col-3 report-details"><h2>CC WAGE: {{ shift.cc_wage }}</h2></div>

            <div class="col-12" id="report-ti ps">
                <table>
                    <thead>
                        <tr>
                            <td>CC ONLY TOTALS</td>
                        </tr>
                        <tr>
                            <td>EMPLOYEE</td>
                            <td>SHIFT HOURS</td>
                            <td>ROLE</td>
                            <td>TIP HOURS</td>
                            <td>TOTAL</td>
                        </tr>
                    </thead>
                      {% for emp in employees %}
                        {% if emp.tip_hours > 0 %}
                            <tr>
                                <td>{{ emp.name }}</td>
                                <td>{{ emp.shift_hours }}</td>
                                <td>{{ emp.role }}</td>
                                <td>{{ emp.tip_hours }}</td>
                                <td>{{ emp.cc_tips }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <td>CASH TOTALS</td>
                        </tr>
                        <tr>
                            <td>EMPLOYEE</td>
                            <td>SHIFT HOURS</td>
                            <td>ROLE</td>
                            <td>TIP HOURS</td>
                            <td>TOTAL</td>
                        </tr>
                    </thead>
                      {% for emp in employees %}
                        {% if emp.tip_hours > 0 %}
                            <tr>
                                <td>{{ emp.name }}</td>
                                <td>{{ emp.shift_hours }}</td>
                                <td>{{ emp.role }}</td>
                                <td>{{ emp.tip_hours }}</td>
                                <td>{{ emp.tip_total }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>

{% endblock %}